* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quiz-container {
    background-color: white;
    width: 600px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.1);
    overflow: hidden;
}

.quiz-header {
    padding: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    background-color: rgb(12, 42, 12);
    border: none;
    display: block;
    width: 100%;
    padding: 1.3rem;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: rgb(13, 100, 13);
}

h2 {
    margin: 0;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

ul li {
    margin: 1rem 0;
    font-size: 1rem;
}